a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body{
	padding: 0px;
	margin: 0px;
	color: black;
	display : table;
	width: 100%;
}

h1{
	font-size: 2em;
	font-weight: bold;
}

h3{
	margin-bottom: 0;
}

.header{
	background: url("../img/space.jpg") no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100vh;
	visibility: inherit;
	text-align: center;
}

a{
	display: inline-block;
}

.header-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Ubuntu', cursive;
	color: white;
}

.button-white{
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
	position: relative;
	z-index: 4;
}

.button-white:hover{
	background-color: white;
	color: black;
	transition: All 0.5s ease;
	position: relative;
	z-index: 4;
}

.button-invert{
	color: black;
	text-decoration: none;
	font-size: 20px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
	background-color: white;
	position: relative;
	z-index: 4;

}

.button-invert:hover{
	color: #ffffff;
	transition: All 0.5s ease;
	background-color: transparent;
	position: relative;
	z-index: 4;
}

.content{
	text-align: center;
	font-family: 'Ubuntu', cursive;
}

footer {

	font-family: 'Ubuntu', cursive;
	text-align: center;
	color: white;
	padding-top: 25px;
	padding-bottom: 1px;
	background: #000000;
	background: linear-gradient(to left, #000000 , #53346D);
}

footer a{
	color: #bbbbbb;
	margin-right: 10px;
}

.download, .about, .vpn{
	border-width:0px 0px 1px 0px;
	border-style:dotted;
	border-color:black;
	padding-bottom: 15px;
	margin-top: 15px;
}

.dns{
	padding-bottom: 15px;
	margin-top: 15px;
}

.dns ul li, .vpn ul li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.icon{
	margin-left: 10px;
	height: 20px;
}

.center{
	margin-top: 15px;
	text-align: center;
}

/*figure{
	background: #000000;
	background: linear-gradient(to left, #000000 , #53346D);
	color: white;
	margin: 0;
}



.menu{
	padding-top: 25px;
	padding-left: 50px;
	z-index: 4;
}

.content{
	text-align: center;
	color: #000000;
	font-family: 'Ubuntu', cursive;
	margin-bottom: 0px;
	margin-right: 50px;
	margin-left: 50px;
}

.vpn ul{
	background-color: aliceblue;
}

.mentions{
	font-family: 'Ubuntu', cursive;
	color: #222222;
	text-align: center;
}*/
